@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium';
}

ul,
ol {
    list-style: none;
}

a:link {
    text-decoration: none;
}

.navigation {
    position: fixed;
    z-index: 1;
    height: 70px;
    width: 100%;
    background-color: #fff;
}

.navigation>ul {
    list-style: none;
    display: table;
    width: 100%;
    text-align: center;
    padding-right: 30px;
}

.navigation>ul>li {
    list-style: none;
    float: right;
    line-height: 54px;
    vertical-align: middle;
    text-align: center;
}

.navmenu {
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    display: block;
    color: rgb(32, 32, 32);
    cursor: pointer;
    transition: 0.4s;
    padding: 10px 18px;
    position: relative;
    font-family: 'GmarketSansMedium';
}

.navmenu:hover {
    color: #6868ee;
    transition: 0.4s;
}

.navmenu:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 15px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navmenu:hover:after {
    width: 100%;
    left: 0;
}

.fullsection {
    width: 100%;
    height: 948.5px;
    position: relative;
}


.full2 {
    background: white;
    height: 1066px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.full3 {
    background: white;
    height: 1025px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home_img {
    background-image: url("Image1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 948.5px;
}

.about_img {
    background-image: url("Image2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 1066px;
}

.contents {
    background-image: url("Image3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1025px;
}

.contents_element>h1 {
    text-align: center;
    font-size: 200px;
    font-weight: bolder;
    color: #fff;
    margin-top: 80px;
}

.contents_ec {
    width: 1900px;
}

.contents_ec1 {
    margin-left: 14.5%;
}

.contetns_ec2 {
    margin-left: 8em;
}

.contact {
    background: url("Image4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1066px;
}

.form {
    margin-top: 4.9%;
    margin-left: 26%;
}

.form::-webkit-scrollbar {
    overflow: hidden;
}

footer {
    background-color: #111;
    height: auto;
    padding: 40px;
    color: #fff;
}

.footer_contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer_content>h3 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

.footer_content>p {
    text-align: center;
}

.footer_content>p>a {
    color: #fff;
    transition: 0.4s;
}

.footer_content>p>a:hover {
    color: #5c5c5c;
}

.footer_line {
    margin: 0 auto 28px;
    width: 500px;
}

.footer_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -8px 0 8px 0;
}

.footer_nav>li {
    position: relative;
    margin: 0 8px;
    color: #8f8f8f;
}

.footer_nav>li>a {
    color: #fff;
    transition: 0.4s;
}

.footer_nav>li>a:hover {
    color: #5c5c5c;
}

.footer_copyright {
    text-align: center;
    font-size: 16px;
    color: #cfcfcf;
}

.footer_copyright>p>a {
    color: #fff;
    transition: 0.4s;
}

.footer_copyright>p>a:hover {
    color: #5c5c5c;
}